@import url(https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap);

:root {
  --main-bg-color: #1e1e1e;
  --sidebar-bg-color: #1e1e1e;
  --note-bg-color: #b1b1b1;
  --hover-bg-color: #303030;
  --text-color: white;
  --button-bg-color: #303030;
  --button-hover-bg-color: #303030;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  font-family: "Bricolage Grotesque", Sans-serif;
}

#newNoteBtn {
  background-color: #303030;
  color: #f9f9f9;
  width: 136px;
  height: 60px;
  border: none;
  border-radius: 16px;
  margin-top: 12px;
  box-shadow: 2px 3px 10px #6651f4;
  cursor: pointer;
}

#newNoteBtn:hover {
  background-color: #6651f4;
}

#newNoteBtn .plus {
  font-size: 30px;
  vertical-align: middle;
  margin-right: 8px;
}

.sidebar {
  height: 100%;
  width: 100%;
  max-width: 350px;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

#devNote {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  margin-top: 12px;
  margin-bottom: 15px;
}

#name {
  margin: 0;
}

#newNoteIcon {
  background-color: #1e1e1e;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 24px;
  cursor: pointer;
}

#newNoteIcon:hover {
  color: #6651f4;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 10px;
  background-color: var(--sidebar-bg-color);
  color: var(--text-color);
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.sidebar ul li:hover {
  background-color: var(--hover-bg-color);
  height: 25px;
  border-radius: 20px;
}

.sidebar ul li .note-actions {
  display: none;
  position: absolute;
  right: 10px;
}

.sidebar ul li:hover .note-actions {
  display: flex;
  gap: 10px;
}

.sidebar ul li .btn-update,
.sidebar ul li .btn-delete {
  background-color: var(--button-bg-color);
  color: var(--text-color);
  border: none;
  padding: 1px 4px;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar ul li .btn-update {
  margin-right: 0px;
}

.sidebar ul li .btn-update:hover,
.sidebar ul li .btn-delete:hover {
  color: #6651f4;
  background-color: var(--button-hover-bg-color);
}

#greetingDisplay h2 {
  margin: 0;
  color: #1e1e1e;
}

#greetingDisplay p {
  margin: 5px 0 0;
  color: #666;
}

.content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  background-color: #c1c1c1;
  overflow-y: auto;
}

#notesDisplay {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.note {
  position: relative;
  width: calc(33.333% - 20px);
  width: 265px;
  height: 125px;
  margin: -1px;
  padding: 10px;
  border: 1px solid #6651f4;
  background-color: var(--note-bg-color);
  cursor: pointer;
  border-radius: 8px;
}

.note:hover {
  background-color: #979797;
}

.note h3 {
  margin-top: 3px;
  margin-left: 5px;
  margin-bottom: 8px;
  color: #1e1e1e;
  border-bottom: 1px solid #6651f4;
  padding-bottom: 6px;
}

.note p {
  margin-top: 0;
  margin-left: 5px;
  color: #1e1e1e;
}

/* Adjust the position of the delete button to the bottom right */
.note .btn-delete {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #979797;
  color: #1e1e1e;
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.note .btn-delete:hover {
  color: #6651f4;
}

.note:hover .btn-delete {
  display: block;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #2f2f2f;
  margin: 9% auto;
  padding: 25px;
  border: 1px solid #888;
  height: 50%;
  max-height: 600px;
  width: 90%;
  max-width: 600px;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  position: relative;
}

#modalTitle {
  color: #f9f9f9;
  margin-top: 2.5px;
  margin-bottom: 40px;
}

#noteTitle {
  background: none; /* Menghapus background */
  border: none; /* Menghapus border */
  color: #f9f9f9; /* Warna teks */
  padding: 0; /* Menghapus padding */
  margin-bottom: 25px; /* Menghapus margin */
  font-size: 16px; /* Ukuran font */
  width: 100%; /* Menyesuaikan lebar dengan container */
  outline: none; /* Menghapus outline saat elemen mendapat fokus */
  box-shadow: none;
  border-bottom: 2px solid #6651f4; /* Menambahkan garis pembatas */
  padding-bottom: 7px; /* Menghapus shadow */
}

#noteTitle::placeholder {
  color: #888; /* Warna placeholder */
  opacity: 1; /* Mengatur opacity placeholder */
}

#noteContent {
  background: none; /* Menghapus background */
  border: none; /* Menghapus border */
  color: #f9f9f9; /* Warna teks */
  padding: 0; /* Menghapus padding */
  margin: 0; /* Menghapus margin */
  font-size: 16px; /* Ukuran font */
  width: 100%; /* Menyesuaikan lebar dengan container */
  height: 100px; /* Menentukan tinggi textarea */
  outline: none; /* Menghapus outline saat textarea mendapat fokus */
  box-shadow: none; /* Menghapus shadow */
  resize: none; /* Menghapus kemampuan resize (opsional) */
  overflow: auto;
}

#noteContent::placeholder {
  color: #888; /* Warna placeholder */
  opacity: 1; /* Mengatur opacity placeholder */
}

#saveNoteBtn {
  position: absolute;
  bottom: 20px; /* Jarak dari tepi bawah layar */
  left: 515px; /* Jarak dari tepi kanan layar */
  padding: 10px 20px; /* Ukuran tombol */
  background-color: #6651f4; /* Warna latar belakang tombol */
  color: white; /* Warna teks tombol */
  border: none; /* Menghilangkan border tombol */
  border-radius: 8px; /* Membulatkan sudut tombol */
  cursor: pointer; /* Menunjukkan bahwa ini adalah elemen yang dapat diklik */
  z-index: 1000; /* Pastikan tombol berada di atas konten lain */
}

#saveNoteBtn:hover {
  background-color: #4c36dd; /* Warna latar belakang tombol saat hover */
}

/* Gaya khusus untuk delete confirmation modal */
#deleteModal .modal-content {
  color: #f9f9f9;
  background-color: #2f2f2f;
  margin: 18% auto;
  padding: 20px;
  border: 1px solid #888;
  height: 15%;
  max-height: 600px;
  width: 90%;
  max-width: 600px;
  border-radius: 16px;
}

#deleteModal .modal-content p {
  font-size: 16px; /* Ukuran font teks */
  margin-top: 9px; /* Jarak atas dan bawah teks */
  padding: 0; /* Menghilangkan padding default */
}

#deleteModal .modal-content button {
  margin-right: 10px;
  padding: 10px 20px; /* Ukuran tombol */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#confirmDeleteBtn {
  background-color: #dc3545; /* Warna latar belakang tombol hapus */
  color: white;
}

#confirmDeleteBtn:hover {
  background-color: #c82333; /* Warna tombol hapus saat hover */
}

#cancelDeleteBtn {
  margin-top: 19px;
  margin-left: 415px;
  background-color: #6c757d; /* Warna latar belakang tombol batal */
  color: white;
}

#cancelDeleteBtn:hover {
  background-color: #5a6268; /* Warna tombol batal saat hover */
}

.close {
  color: #f9f9f9;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
}

.btn-delete svg {
  width: 16px;
  height: 16px;
  stroke: currentColor;
}

.btn-update svg {
  width: 16px;
  height: 16px;
  stroke: currentColor;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    max-width: none;
  }

  #notesDisplay {
    flex-direction: column;
  }

  .note {
    width: 100%;
    margin: 5px 0;
  }
}

@media (max-width: 480px) {
  #newNoteBtn {
    width: 100%;
    height: 50px;
  }

  .modal-content {
    width: 95%;
  }

  textarea {
    height: 150px;
  }
}
